<!-- +++++ Welcome Section +++++ -->
<div id="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <img src="" alt="Bertug YILMAZ" id="avatar" >
        <h1>Merhaba, Ben Bertuğ!</h1>
        <p>Tam bir müzik aşığı birde bir kaç kodla beraber oldu deme keyfime!</p>

        <p>Zonguldak 1996 doğumlu, Celal Bayar Üniversitesi Yazılım Mühendisi adaylarından, James Hetfield dan amatör kendince profesyonel gitarist,
          beyazından siyah eksik olmayan BEŞİKTAŞ lı ,sporla uğraşmaktan deli gibi zevk alan arta kalan zamanlarında kitap okumak için can atan,
          yeri geldi mi neşeden çıldıran bir o kadarda ciddiyetine düşkün birisi düşünün işte o benim!</p>

      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /ww -->